<div class="nested-fields">
  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>

    <%= f.label :numero %>
    <%= f.text_field :numero %>

    <%= link_to_remove_association('Excluir',f) %>
  </div>
</div>
