<p id="notice"><%= notice %></p>

<h3>Dados do Curso</h3>

<p>
  <strong>Nome:</strong>
  <%= @course.nome %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @course.sigla %>
</p>

<p>
  <strong>Site:</strong>
  <%= @course.site %>
</p>

<h3>Coordinator</h3>

<p>
  <strong>Coordinator:</strong>
  <%= @course.coordinator.nome %>
</p>
<p>
  <strong>Matrícula:</strong>
  <%= @course.coordinator.matricula %>
</p>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
